@charset 'UTF-8';

/* --------------------
 media query
-------------------- */
$breakpoints: (
	'pt': 'screen and (max-width: 1024px) and (orientation: portrait)', //縦
	'ln': 'screen and (min-width: 1024px) and (orientation: landscape)' //横
) !default;
//メディアクエリ指定用mixin
@mixin mq($breakpoint: ln) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* --------------------
  style
-------------------- */
*{
	padding: 0;
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}
body {
	background: url(img/bg.svg) repeat;
	background-size: cover;
	.wrapper{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		border: 20px solid #fff;
		.outline{
			padding: 20px;
			//page back btn
			#pageback{
				&[style="visibility: hidden;"]{
					display: none;
				}
			}
			//slot
			#slot{
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

/* add by mukku */
/* #pageback {
	visibility: hidden;
} */

/* #start {
	visibility: visible;
} */

/* input:checked ~ #stop{
  padding: 10px 0;
  height: auto;
  opacity: 1;
	visibility: visible;
} */

/* til here by mukku */

/* スロットエリア */
#slot {
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	height: 616px;
	background-repeat: no-repeat;
	background-position: center center;
}
#slot.tshirt {
	background-image: url(img/tshirt.png);
}
#slot.stecker {
	background-image: url(img/stecker.png);
}
#slot.bag {
	background-image: url(img/bag.png);
}
#slot.cup {
	background-image: url(img/cup.png);
}
#slot.mufflertowel {
	background-image: url(img/mufflertowel.png);
}
#slot.choco {
	background-image: url(img/choco.png);
}
#slot.dorayaki {
	background-image: url(img/dorayaki.png);
}
#slot.badge {
	background-image: url(img/badge.png);
}


/* スタート・ストップボタン */
#button {
	width: 701px;
	height: 184px;
	margin: 0 auto;
}
#button a {
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -9999px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
#button a:hover {
	background-position: 0 bottom;
}
.start a {
	background-image: url(img/btn_start.png);
}
.stop a {
	background-image: url(img/btn_stop.png);
}

/* 結果表示 */
#result {
	background: #fff;
	border: 10px solid #111;
	text-align: center;
	padding: 25px 70px;
	font-weight: bold;
	font-size: 60px;
	border-radius: 80px;        /* CSS3草案 */
	-webkit-border-radius: 80px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 80px;   /* Firefox用 */
	display: none;
}
